<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
  <head>
    <meta charset="utf-8">
    <title>AKE</title>
  </head>
  <body>
    <p>This page was rendered at <%= new Date() %>!</p>

    <button id="myButton">Do Ajax!</button>

    <ul class="topnav">
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="chatbot.html">Chatbot</a></li>
      <li><a href="#contact">Contact</a></li>
      <li class="right"><a href="#about">About</a></li>
      <li class="right"><a href="Login/login.html">Login</a></li>
    </ul>

    <div style="padding:0 16px;">
      <h2>Autokaufempfehlung</h2>
      <p>This example use media queries to stack the topnav vertically when the screen size is 600px or less.</p>
      <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
      <h4>Resize the browser window to see the effect.</h4>
    </div>

    <script src="script.js"></script>


  </body>
</html>
