<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AKE</title>
  </head>
  <body>
    <p>This page was rendered at <%= new Date() %>!</p>

    <button id="myButton">Do Ajax!</button>

    <script src="script.js"></script>

    </script>
  </body>
</html>
