<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>AKE</title>
  </head>
  <style>
    body {
      margin: 0;
      font-family: arial;
    }

    ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    ul.topnav li {float: left;}

    ul.topnav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    ul.topnav li a:hover:not(.active) {background-color: #111;}

    ul.topnav li a.active {background-color: #0278DB;}

    ul.topnav li.right {float: right;}

    @media screen and (max-width: 600px) {
      ul.topnav li.right,
      ul.topnav li {float: none;}
    }

    iframe {
      background-color: white;
      display: block;
      border: none;
      min-height: 600px;
      height: auto;
      width: 80%;

    }

  </style>
  <body>
    <ul class="topnav">
      <li><a class="active" href="index.ejs">Home</a></li>
      <li><a href="index.ejs">Chatbot</a></li>
      <li><a href="automodelle.ejs">Automodelle</a></li>
      <li class="right"><a href="#about">About</a></li>
      <li class="right"><a href="Login/login.html">Login</a></li>
    </ul>

    <div style="padding:0 16px;">
      <h2>Autokaufempfehlung</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>

    <button id="myChatbot">Open Chatbot</button>
    <script src="script.js"></script>


  </body>
</html>
